.container {
    background-color: #fff8dc10;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 64px;
}

.main_heading {
    font-size: 40px;
    font-weight: 700;
}

.block_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block_left {
    display: flex;
    justify-content: space-between
}

.main_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px;
}

.block_right {
    display: flex;
    flex-direction: row-reverse;
}

.image {
    min-width: 500px;
    height: 300px;
}